<% @books.each do |book| %>
  <div class="book-wrapper">
    <div class="thumb iblock pull-left">
      <%= link_to book do %>
        <%= image_tag book.cover %>
      <% end %>
    </div>
    <div class="info iblock pull-left">
      <h3 class=><%= book.title %></h3>
      <%= book.authors %>
    </div>
    <div class="status iblock pull-right">
      <div class="status-text"><%= status = toggle_status_info(book.status) %></div>
      <div class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" id="dLabel" role="button" data-target="#" title="Click to see options">Change status</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <%= make_links(book, status) %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<%= paginate @books %>