<% @books.each do |book| %>
  <div class="book-wrapper">
    <div class="thumb iblock pull-left">
      <%= link_to book do %>
        <%= image_tag book.cover %>
      <% end %>
    </div>
    <div class="info iblock pull-left">
      <h3 class=><%= book.title %></h3>
      <%= book.authors %>
    </div>
    <div class="status iblock pull-right">
      <div class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" id="dLabel" role="button" data-target="#" title="Click to change book status"><%= status = toggle_status_info(book.status) %></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <% unless status ==  "I don't have this book" %>
            <li><%= link_to "I don't have this book", change_status_book_path(book, :status => 0), :method => :post %></li>
          <% end %>
          <% unless status ==  "I want to read this book" %>
            <li><%= link_to "I want to read this book", change_status_book_path(book, :status => 1), :method => :post %></li>
          <% end %>
          <% unless status ==  "I've read this book" %>
            <li><%= link_to "I've read this book", change_status_book_path(book, :status => 2), :method => :post %></li>
          <% end %>
          <% unless status ==  "I'm not interested" %>
            <li><%= link_to "I'm not interested", change_status_book_path(book, :status => 3), :method => :post %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<%= paginate @books %>