<% @books.each do |book| %>
  <div class="book-wrapper">
    <div class="thumb iblock pull-left">
      <%= link_to book do %>
        <%= image_tag book.cover %>
      <% end %>
    </div>
    <div class="info iblock pull-left">
      <h3 class=><%= book.title %></h3>
      <%= book.authors %>
    </div>
    <div class="status iblock pull-right">
      <%= toggle_status_info(book.state) %>
    </div>
    <div class="clear"></div>
  </div>
<% end %>
<%= paginate @books %>
