<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) + " – " : "" %>Mybrary</title>
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/eb-garamond" rel="stylesheet" type="text/css"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <%= link_to root_url, :id => "logo" do %>
        <h1 class="iblock"><span id="my">my</span><span id="brary">brary</span></h1>
      <% end %>
      <%= form_tag books_path, :method => :get, :class => "pull-right iblock" do %>
        <span class="search-wrapper">
          <%= label_tag :search, nil, :class => "hidden iblock" %>
          <%= text_field_tag :search, nil, :placeholder => "e.g. life, Bates, ..." %>
        </span>
        <%= submit_tag 'Search books', :name => nil, :class => "btn btn-search" %>
      <% end %>
      <div class="clear"></div>
      <nav class="center">
        <ul>
          <li><%= link_to_unless_current "All", root_url %></li>
          <li><%= link_to_unless_current "Don't have it", dont_have_url %></li>
          <li><%= link_to_unless_current "Wanna read", to_read_url %></li>
          <li><%= link_to_unless_current "Have read", read_url %></li>
          <li><%= link_to_unless_current "Not interested", not_interested_url %></li>
        </ul>
      </nav>
    </div> <!-- /container -->
  </header>
  <div class="container">
    <%= yield %>
  </div> <!-- /container -->
</body>
</html>
